.aboutTeam{
    margin: auto;    
    padding: 40px;
    margin-top: 5%;
}
p{
  font-family: "Barlow", sans-serif;
  font-weight: 200;   
}
.coreTeam{ 
    margin-top: 5%;
    display: block;
    text-align: center;
}
select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 4.5em 0.5em 1em;
    color: black;
  
    /* reset */
  
    /* margin: 0;       */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */

  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  
  /* Cards Start */
 
  * {
    padding: 0px;
    margin: 0px;
    transition-duration: 200ms;
  }
  .flex-container {
    margin-left: 85px;
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
}
  .linkedinIcon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    
    background-image: url("../icons/linkedinIcon.png");
    background-size: cover;
  }
  .mailIcon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    
    background-image: url("../icons/mailIcon.png");
    background-size: cover;
  }
  .instagramIcon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    
    background-image: url("../icons/instagramIcon.png");
    background-size: cover;
  }
  .fbIcon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    
    background-image: url("../icons/fbIcon.png");
    background-size: cover;
  }
  @import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");
  .container1 {
    font-family: "Catamaran", sans-serif;
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
  }
  
  .cardC {
    margin: 50px;
    box-shadow: 1px 2px 3px #888888;
    width: 340px;
    height: 353px;
    border-radius: 20px;
    padding: 160px 20px 20px 20px;
    position: relative;
    transition-duration: 200ms;
    text-align: center;
  }
  
  .cardC .content p,
  .cardC .content p {
    padding-top: 10px;
  }
  
  /* .cardC .content p {
    color: #888888;
  } */
  /* Cards End */
  
  .img {
    transition-duration: 200ms;
    position: absolute;
    /* width: 200px;
    height: 200px; */
    left: 60px;
   
    top: -50px;
    border-radius: 20px;
    /* box-shadow: 1px 2px 3px #999999; */
  }
  .img img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
  }
  
  .cardC:hover  {
    /* transform: scale(1.2) translateX(-70px) translateY(60px); */
    /* width: 100px;
    height: 100px;
    border-radius: 50px; */
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  }
  
  .cardC:hover .img img{
    /* width: 100px;
    height: 100px;
    border-radius: 50px; */
  }
  .cardC:hover {
    /* padding-top: 20px;
    padding-left: 50px; */
  }
  
  .cardC .content h5 {
    float: right;
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
  @media only screen and (max-width:400px){
    
    .cardC:hover .img {
      /* transform: scale(1.2) translateX(-40px) translateY(60px);
      width:70px;
      height: 70px; */
    }
    .cardC:hover .img img{
      /* width:70px;
      height: 70px; */
    }
  }

  /* Footer Start */
  .footer{
    
    text-align: center;
    padding-bottom: 5%;
  }
 .footerSocialHandles{
   margin-top: 2%;
 }

  /* Footer End */