.font-heading{
  font-family: "Barlow", sans-serif !important;
  font-weight: 500;
}
.font_subheading{
  font-family: "Barlow", sans-serif !important;
  font-weight: 100;
}
.main{
  padding-left:10% !important;
  padding-right: 10% !important;
}
h3{  
  font-family: "Barlow", sans-serif !important;
  font-weight: 100 !important;
  padding: 10px;
  position: relative;
  top: -10px;
  font-size: 18px;
  background-color: white;
}
.aboutTeam{
    margin-top: 5%;
}

#mainTeam{
  padding-right:10%;
  padding-left: 10%;
}
p{
  font-family: "Barlow", sans-serif !important;
  font-weight: 100 !important;   
}
.coreTeam{ 
    margin-top: 5%;
    display: block;
    text-align: center;
}
select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 4.5em 0.5em 1em;
    color: black;
  
    /* reset */
  
    /* margin: 0;       */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */

  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #0000
  }
  
  /* Cards Start */
 
  * {
    padding: 0px;
    margin: 0px;
    transition-duration: 200ms;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-left: 30%;
    padding-right: 30%;
    margin-top:54%;
    cursor: pointer;

  }


  .linkedinIcon{
    height: 30px;
    width: 30px;
    background-image: url("../icons/linkedinIcon.png");
    background-size: cover;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }
  .mailIcon{
    height: 33px;
    width: 33px;
    position: relative !important;
    top: -1px !important;
    border-bottom: 1px solid white;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background-image: url("../icons/mailIcon.png");
    background-size: cover;
  }
  .instagramIcon{
    height: 30px;
    border-radius: 50%;
    width: 30px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.15);

    background-image: url("../icons/instagramIcon.png");
    background-size: cover;
  }
  .fbIcon{
    height: 30px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.15);

    width: 30px;
    border-radius: 50%;
    
    background-image: url("../images/Facebook.svg");
    background-size: cover;
  }
  @import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");
  .container1 {
    font-family: "Catamaran", sans-serif;
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
  }
  @media screen and  (max-width:500px){
    #mainTeam{
      padding-right: 25%;
    }
    #board-expander{
      margin-left: 25%;
      display: flex !important;
      justify-content: center !important;
    }
  }
 
  .cardC {
    cursor: pointer;

    margin: 15%;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: relative;
    transition-duration: 200ms;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-top-color: 100px solid white !important;

  }
  
  .cardC .content p,
  .cardC .content p {
    margin-top: -5%;
    font-size: 18px;
   letter-spacing: 0.001em !important;
   font-weight: 500 !important;
  }
  
  /* .cardC .content p {
    color: #888888;
  } */
  /* Cards End */
  
  .img {
    transition-duration: 200ms;
    position: absolute;
    /* width: 200px;
    height: 200px; */
    left: 60px !important;
    top: 70px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    /* box-shadow: 1px 2px 3px #999999; */
  }
  .img img{
   width: 150px;
   height: 150px;
   border-radius: 50%;
  }
  
  /* .cardC:hover  {
    /* transform: scale(1.2) translateX(-70px) translateY(60px); */
    /* width: 100px;
    height: 100px;
    border-radius: 50px; */
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  } */
   /* */
  .cardC:hover .img img{
    /* width: 100px;
    height: 100px;
    border-radius: 50px; */
  }
  .cardC:hover {
    /* padding-top: 20px;
    padding-left: 50px; */
  } */
  
  .cardC .content h5 {
    font-size: 10px;
    font-weight: 100 !important;
  }
  @media only screen and (max-width:400px){
    
    .cardC:hover .img {
      /* transform: scale(1.2) translateX(-40px) translateY(60px);
      width:70px;
      height: 70px; */
    }
    .cardC:hover .img img{
      /* width:70px;
      height: 70px; */
    }
  }

  /* Footer Start */
  .footer{
    
    text-align: center;
    padding-bottom: 5%;
  }
 .footerSocialHandles{
   margin-top: 2%;
 }

